html {
	background-color: #2D3037; /* Simulate 100% height for the footer */
}

.index-gradient {
	background-color: #fff;
	background-image: -webkit-linear-gradient(top, #dff2fd, #fff 70%); /* Chrome 10+, Safari 5.1+, iOS 5+ */
	background-image:    -moz-linear-gradient(top, #dff2fd, #fff); /* Firefox 3.6-15 */
	background-image:      -o-linear-gradient(top, #dff2fd, #fff); /* Opera 11.10-12.00 */
	background-image:         linear-gradient(to bottom, #dff2fd, #fff); /* Firefox 16+, IE10, Opera 12.50+ */
	background-repeat: no-repeat;	
	height: 100%;
}

.main-wrapper {
	min-height: 800px;
	padding: 90px 0;
	background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiYGBgEPr//z8DCIMBkAEWYIRywIIAAQYAPcIPFz/ScLMAAAAASUVORK5CYII=);	
	/*position: relative;
	z-index: 0;*/
}

.dots-pattern {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB9JREFUeNpiYGBgEPr//z8DCIMBkAEWYIRywIIAAQYAPcIPFz/ScLMAAAAASUVORK5CYII=);
}

.centered {
	text-align: center !important;
}

.cloud-line{
	background: url(../img/cloud-line.png) center;
	height: 21px;
	width: 940px;
	margin: 60px auto;
}

.hr-line{
	height: 1px;
	margin: 20px 0;
	border-bottom: 1px dashed #ddd;
}

.full-width-form-elem{
	width: 98%;
	/*-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;*/
}

h1, h2, h3, h4 {
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('entypo/entypo.eot');
    src: url('entypo/entypod41d.eot?#iefix') format('embedded-opentype'),
         url('entypo/entypo.woff') format('woff'),
         url('entypo/entypo.ttf') format('truetype'),
         url('entypo/entypo.svg#EntypoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.font-icon{
  font: 9em/0 EntypoRegular;
  *line-height: 1;
  color: #555;
  text-shadow: 0 2px 0px rgba(0,0,0,.2);
}


/* Override bootstrap's styles */
body{
	background: none;
}

body, .btn {
	font-size: 13px;
}

.table th, .table td {
	vertical-align: middle; 
}

.awrcloud-menu-elem .caret{
	border-top-color: #fff;
}

.span9 #pricing-table{
	width: auto;
}

.span9 #pricing-table .plan{
	width: 180px;
}

.nav-stacked {
	margin: 20px;
}

.accordion-body {
	background-color: #FFFDF3;
}

/*--------------------------------------------------*/

#awrcloud-header {
	background: #383838;
	padding: 10px 0;
	border-bottom: 1px solid #fff;
	-moz-box-shadow: 	0 3px 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
	box-shadow: 		0 3px 3px rgba(0,0,0,.2);
}

#awrcloud-logo {
	background: url(../img/awrcloud-logo.png);
	height: 20px;
	width: 119px;
	margin: 4px 0 0 0;
	float: left;
	text-indent: -999em;
	-webkit-transition: all .2s ease-out;  /* Safari 3.2+, Chrome */
	 -moz-transition: 	all .2s ease-out;  /* Firefox 4-15 */
	   -o-transition: 	all .2s ease-out;  /* Opera 10.5–12.00 */
	      transition: 	all .2s ease-out;  /* Firefox 16+, Opera 12.50+ */	
}

#awrcloud-logo:hover {
	background-position: 0 -20px;
}

#awrcloud-menu {
	list-style: none;
	margin: 0 0 0 20px;
	width: 800px;
}

/**/
#awrcloud-menu .dropdown-menu {
	padding: 15px;
}

#awrcloud-menu .dropdown-menu form {
	margin: 0;
}

#awrcloud-menu #email,
#awrcloud-menu #password {
	margin-bottom: 10px;
}

.dropdown .dropdown-signin {
	margin: 0 0 10px 0;
	width: 100%;	
	display: inline-block;
}

.dropdown .dropdown-forgot {
	display: inline-block;
	padding: 0;
}
/**/

#awrcloud-menu li {
	position: relative;
	color: #999;
}

.active .awrcloud-menu-elem {
	background: #DA861C;
	position: relative;
}

.active .awrcloud-menu-elem::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 50%; margin-left: -3px;
	border-top: 6px solid #DA861C;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
}

.awrcloud-menu-elem {
	display: inline-block;
	background: #555;
	color: #fff;
	padding: 4px 12px;
	margin: 0 1px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.awrcloud-menu-elem:hover{
	text-decoration: none;
	color: #fff;
}

.blue .awrcloud-menu-elem{
	background: #5da9ca;
}

/* Whitelabel only */

#awrcloud-menu.awrcloud-menu-whitelabel {
	display: table;
	width: auto;
	margin: 0;
	*width: 100%; /*IE7*/
	position: relative;
}

#awrcloud-menu.awrcloud-menu-whitelabel>li{
	display: table-cell;
	float: none;
	*float: left; /*IE7*/
	width: 1%;
	*width: auto; /*IE7*/
}

.awrcloud-menu-whitelabel img {
	max-width: none;
}

#awrcloud-menu.awrcloud-menu-whitelabel .dropdown{
	text-align: right;
	*float: right; /*IE7*/
	width: auto;
}

#awrcloud-menu.awrcloud-menu-whitelabel .dropdown-menu {
	text-align: left;
}

/*--------------------------------------------------*/

.green-btn {
  display: inline-block;
  height: 55px;
  width: 284px;
  text-align: center;
  margin: 10px auto;
  color: #fff;
  font: 1.7em/55px Arial, Helvetica;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.4)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top , rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.4), rgba(255,255,255,0));
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -ms-transition: background-color .2s ease-out; 
  -o-transition: background-color .2s ease-out;  
  transition: background-color .2s ease-out;
  border: 1px solid rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset, 0 1px 1px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset, 0 1px 1px rgba(0, 0, 0, .5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset, 0 1px 1px rgba(0, 0, 0, .5);
}

.green-btn {
  background-color: #669B00;    
}

.green-btn:active {
  color: #fff;
  position: relative; top: 2px;
  text-shadow: none;
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .4) inset;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .4) inset;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4) inset;
}

.green-btn:hover {
  background-color: #77B108;
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------*/

.screenshots .pull-left{
  width: 180px;
  padding: 0 25px;
}

/*--------------------------------------------------*/

#pricing-table {
	margin: 40px auto 20px auto;
	text-align: center;
	width: 928px; /* total computed width */
	zoom: 1;
}

#pricing-table:before, #pricing-table:after {
  content: "";
  display: table
}

#pricing-table:after {
  clear: both
}

/* --------------- */	

#pricing-table .plan {
	font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;     
	background: #fff;      
	border: 1px solid #ddd;
	color: #333;
	padding: 20px;
	width: 257px;
	float: left;
	_display: inline; /* IE6 double margin fix */
	position: relative;
	margin: 0 5px;
	-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
	box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);		
}

#pricing-table .plan:after {
  z-index: -1; 
  position: absolute; 
  content: "";
  bottom: 10px;
  right: 4px;
  width: 80%; 
  top: 80%; 
  -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);   
  -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
  -webkit-transform: rotate(3deg);    
  -moz-transform: rotate(3deg);   
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);	
}	

#pricing-table .popular-plan {
	top: -20px;
	padding: 40px 20px;   
}

/* --------------- */	

#pricing-table .header {
	position: relative;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 40px;
	margin: -20px -20px 20px -20px;
	border-bottom: 8px solid #7BD553;
	background-color: #eee;
	background-image: -moz-linear-gradient(#fff,#eee);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
	background-image: -webkit-linear-gradient(#fff, #eee);
	background-image: -o-linear-gradient(#fff, #eee);
	background-image: -ms-linear-gradient(#fff, #eee);
	background-image: linear-gradient(#fff, #eee);
}

#pricing-table .header span {
	font-size: 14px;
	color: #999;
	display: block;
	font-weight: normal;
}

#pricing-table .header:after {
	position: absolute;
	bottom: -8px; left: 0;
	height: 3px; width: 100%;
	content: '';
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAADCAYAAABfwxXFAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iIHhtbG5zOnN0UmVmPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvc1R5cGUvUmVzb3VyY2VSZWYjIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtcE1NOk9yaWdpbmFsRG9jdW1lbnRJRD0ieG1wLmRpZDpGOEE3MTBFRDVCQ0NFMTExODcxMEJBRjhFNUY2ODdCRSIgeG1wTU06RG9jdW1lbnRJRD0ieG1wLmRpZDpGMjQxOTc0MUNFNUUxMUUxQjczN0Q4QzY3MDc4MjkxOCIgeG1wTU06SW5zdGFuY2VJRD0ieG1wLmlpZDpGMjQxOTc0MENFNUUxMUUxQjczN0Q4QzY3MDc4MjkxOCIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1IFdpbmRvd3MiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0RDMxQTYxREVCQ0RFMTExQUI1NjlDMTg5OTUyMzNDNyIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDpGOEE3MTBFRDVCQ0NFMTExODcxMEJBRjhFNUY2ODdCRSIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PqOCuVUAAAArSURBVHjaYvj//z8DFPMA8UkoDRZjQJJs/w8B7eiSKkD8Eyr5E8pnAAgwAIiWROlhTpC8AAAAAElFTkSuQmCC);
}

#pricing-table .popular-plan .header {
	margin-top: -40px;
	padding-top: 60px;
}		

/* --------------- */

#pricing-table .price{
	font-size: 45px;
}

#pricing-table .monthly{
	font-size: 13px;
	margin-bottom: 20px;
	text-transform: uppercase;
	color: #999;
}

/* --------------- */

#pricing-table ul {
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

#pricing-table li {
	padding: 8px 0;
}

#pricing-table .signup {
	padding: 10px 20px;
	color: #fff;
	font: bold 14px Arial, Helvetica;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;       
	background-color: #72ce3f;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;     
	text-shadow: 0 -1px 0 rgba(0,0,0,.15);
	opacity: .9;
	border: 0;
	background: #7BD553;       
}

#pricing-table .signup:hover {
	opacity: 1;       
}

#pricing-table .signup:active {
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;       
}	

#pricing-table .signup[disabled] {
	cursor: default;
	background: #ddd;
}

#pricing-table .signup[disabled]:hover {
	opacity: 1;
}

#pricing-table .signup[disabled]:active {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none; 
}		


/*--------------------------------------------------*/

#awrcloud-footer{
    background: #2d3037;
    padding: 50px 0 30px;
    border-top: 1px solid #fff;
    color: #eee;
	border-top: 1px solid #fff;
	-moz-box-shadow: 	0 -3px 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 -3px 3px rgba(0,0,0,.2);
	box-shadow: 		0 -3px 3px rgba(0,0,0,.2);
}

#awrcloud-footer::before{
	content: '';
    position: absolute;
    margin-top: -45px;
    height: 1px; width: 100%;
    background: url(../img/stitch.png);
}

#awrcloud-footer .column {
    width: 273px;
    margin: 0 20px;
    _display: inline;
    _width: 263px;
}

#awrcloud-footer h4 {
    font-size: 1.1em;
    color: #999;
    text-transform: uppercase;
    margin: 0 0 5px;
}

.awr-logo{
	display: block;
	margin: 0;
	padding: 8px 25px;
	width: 167px;
	height: 55px;
	text-indent: -999em;
	overflow: hidden;
	background: #383C46 url(../img/awr-logo.png) no-repeat center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

#awrcloud-footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#awrcloud-footer li {
	margin: 5px 0;
}

#awrcloud-footer li a{
    color: #eaeaea;
	-webkit-transition: background .3s ease-out;
	   -moz-transition: background .3s ease-out;
	     -o-transition: background .3s ease-out;
		    transition: background .3s ease-out;	
}

#awrcloud-footer li a:hover{
    background: #777;	
}

#awrcloud-footer li a[href*="facebook.com"],
#awrcloud-footer li a[href*="google.com"],
#awrcloud-footer li a[href*="twitter.com"]{
    	margin-left: 5px;
}

#awrcloud-footer li a[href*="facebook.com"]:before,
#awrcloud-footer li a[href*="google.com"]:before,
#awrcloud-footer li a[href*="twitter.com"]:before{
	content: '';
	background-image: url(https://favicon.yandex.net/favicon/facebook.com/google.com/twitter.com);
	height: 16px; width: 16px;
	margin: 2px 0 0 0;
	float: left;
}

#awrcloud-footer li a[href*="facebook.com"]:before{
	background-position: 0 0;
}

#awrcloud-footer li a[href*="google.com"]:before{
	background-position: 0 -16px;
}

#awrcloud-footer li a[href*="twitter.com"]:before{
	background-position: 0 -32px;
}

/* Sidenav for Docs
-------------------------------------------------- */

/* prevent column from collapsing when affixing */
.span3 {
  min-height: 1px;
}

.bs-docs-sidenav {
  width: 220px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 105px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
/**/

.reports-gauge {
	cursor: pointer;
	width:125px;
	height:100px;
	margin-top:-5px;
	border-bottom: 1px solid #f5f5f5;		
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}	

.reports-gauge:hover {
	background: #fff;
	border-color: #CCC;		
}

/**/
.screenshot-img{
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 10px;
	-moz-box-shadow: 	0 3px 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.2);
	box-shadow: 		0 3px 3px rgba(0,0,0,.2);
}

/* Feedback side button */

.feedback-trigger{
  position: fixed;
  _position: absolute;
  z-index: 1;
  left: -3px; top: 200px;
  height: 100px; width: 25px;
  background: #555 url(../img/feedback-bg.png) no-repeat 5px center;
  border: 3px solid #fff;
  border-left: 0;
  text-indent: -9999em;
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

.feedback-trigger:hover{
  background-color: #61B5CA;
  left: 0;
}

#feedback-modal textarea{
  width: 515px;
  height: 90px;
  margin: 0 0 10px 0;
}

/* Whitelabel */

#whitelabel-logo  {
	//background: url(../img/awrcloud-logo.png);
	//text-indent: -999em;

	//line-height: 20px;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 20px;
	color: #ababab;

	//height: 20px;
	//width: 120px;
	margin: 4px 0 0 0;
	float: left;
	-webkit-transition: all .2s ease-out;  /* Safari 3.2+, Chrome */
	 -moz-transition: 	all .2s ease-out;  /* Firefox 4-15 */
	   -o-transition: 	all .2s ease-out;  /* Opera 10.5–12.00 */
	      transition: 	all .2s ease-out;  /* Firefox 16+, Opera 12.50+ */	
}

#whitelabel-logo:hover  {
	color: #fafafa;
	text-decoration: none;
}

#signintop {
text-align: center;
}
